# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
build
.gradle
gen
.gitignore
.idea/inspectionProfiles/
out/production/resources/
src/main/resources/
src/test/java/
src/test/resources/
